@import 'tailwindcss';

@theme inline {
  --font-JomolHari: var(--font-JomolHari);
  --font-inter: var(--font-inter);
  --font-proximaNova: var(--font-proximaNova);
  --font-eugusto: var(--font-eugusto);

  --color-primary-red: #e83c2a;

  --animate-spin-slow: spin-slow 3s linear infinite;
  --animate-spin-15: spin-slow 15s linear infinite;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  cursor: auto;
}

button,
a,
input,
textarea,
svg {
  cursor: url('/cursor.svg'), pointer;
}

.hidden-scroll-bar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}
