@import "tailwindcss";

@theme inline {
  --font-JomolHari: var(--font-JomolHari);
  --font-inter: var(--font-inter);
  --font-proximaNova: var(--font-proximaNova);
  --font-eugusto: var(--font-eugusto);

  --animate-spin-slow: spin-slow 3s linear infinite;
  --animate-spin-15s: spin-slow 15s linear infinite;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  cursor: auto;
}

button,
a,
input,
textarea,svg {
  cursor: url("/cursor.svg"), pointer;
}

@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}
